:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576;
    --color-secondary: #1937ed;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
}